package ${package}.infrastructure;

import com.baomidou.mybatisplus.core.conditions.query.QueryWrapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;
import ${package}.domain.${className};
import ${package}.domain.base.PageResult;
import ${package}.domain.repository.I${className}Repository;
import ${package}.infrastructure.dao.${className}Dao;
import ${package}.infrastructure.dao.entity.${className}Entity;
import java.util.List;
import java.util.Map;
import java.util.stream.Collectors;
import lombok.RequiredArgsConstructor;
import org.springframework.stereotype.Component;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.util.CollectionUtils;

/**
 * ${comments} 资源库实现
 *
 * @author ${author} ${datetime}
 */
@RequiredArgsConstructor
@Component
public class ${className}RepositoryImpl implements I${className}Repository {

    final ${className}Dao ${classname}Dao;

    @Override
    @Transactional(rollbackFor = Exception.class)
    public void add(${className} ${classname}) {
        ${className}Entity ${classname}Entity = ${className}Transform.INSTANCE.toEntity(${classname});
        ${classname}Dao.insert(${classname}Entity);
    }

    @Override
    public ${className} get(Long id) {
        ${className}Entity ${classname}Entity = ${classname}Dao.selectById(id);
        return ${className}Transform.INSTANCE.toDomain(${classname}Entity);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public void update(${className} ${classname}) {
        ${className}Entity ${classname}Entity = ${className}Transform.INSTANCE.toEntity(${classname});
        ${classname}Dao.updateById(${classname}Entity);
    }

    @Override
    public PageResult<${className}> pageQuery(Integer pageNum, Integer pageRow, Map<String, Object> params) {
        QueryWrapper<${className}Entity> queryWrapper = new QueryWrapper<${className}Entity>()
                .eq("delete_flag", "N")
                .orderByDesc("create_time");
        if (!CollectionUtils.isEmpty(params)) {
            params.forEach(queryWrapper::eq);
        }

        IPage<${className}Entity> ${classname}EntityIPage =
                    ${classname}Dao.selectPage(
                        new Page<>(pageNum, pageRow),
                        queryWrapper);

        List<${className}> resultList =
                    ${classname}EntityIPage.getRecords().stream()
                        .map(${className}Transform.INSTANCE::toDomain)
                        .collect(Collectors.toList());

        return new PageResult<>(
                resultList, ${classname}EntityIPage.getPages(), ${classname}EntityIPage.getTotal());
    }

}
