package ${package}.domain;

import lombok.Data;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.time.LocalDateTime;
#end


/**
 * ${comments}
 *
 * @author ${author} ${datetime}
 */
@Data
public class ${className} {


#foreach ($column in $columns)
    /**
     * ${comments}
     */
    private $column.attrType $column.attrNameLowerCase;
#end


    /**
     * 创建
     */
    public void create(#foreach ($column in $columns) #if($column.columnName != "id" && $column.columnName !=
    "delete_flag" && $column.columnName != "create_time" && $column.columnName != "update_time")
    $column.attrType $column.attrNameLowerCase #if($foreach.hasNext) ,#end #end #end){
    #foreach ($column in $columns)
        #if($column.columnName != "id"
            && $column.columnName != "delete_flag"
            && $column.columnName != "create_time"
            && $column.columnName != "update_time" )
        this.$column.attrNameLowerCase = $column.attrNameLowerCase;
        #end
        #if($column.columnName == "delete_flag")
        this.$column.attrNameLowerCase = "N";
        #end
        #if($column.columnName == "create_time")
        this.$column.attrNameLowerCase = LocalDateTime.now();
        #end
        #if($column.columnName == "update_time" )
        this.$column.attrNameLowerCase = LocalDateTime.now();
        #end
    #end
    }

    /**
     * 修改
     */
    public void modify(#foreach ($column in $columns) #if($column.columnName != "id" && $column.columnName !=
    "delete_flag" && $column.columnName != "create_time" && $column.columnName != "update_time")
    $column.attrType $column.attrNameLowerCase #if($foreach.hasNext) ,#end #end #end){
    #foreach ($column in $columns)
    #if($column.columnName != "id"
        && $column.columnName != "delete_flag"
        && $column.columnName != "create_time"
        && $column.columnName != "update_time" )
        this.$column.attrNameLowerCase = $column.attrNameLowerCase;
    #end
    #if($column.columnName == "update_time" )
        this.$column.attrNameLowerCase = LocalDateTime.now();
    #end
    #end

    }

    public void delete() {
    #foreach ($column in $columns)
        #if($column.columnName == "delete_flag" )
        this.$column.attrNameLowerCase ="Y";
        #end
        #if($column.columnName == "update_time" )
        this.$column.attrNameLowerCase = LocalDateTime.now();
        #end
    #end
    }
}
