package ${package}.controller.dto;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.time.LocalDateTime;
#end
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;


/**
 * ${comments}DTO
 *
 * @author ${author} ${datetime}
 */
@Data
@ApiModel("${comments}DTO")
public class ${className}Dto {

#foreach ($column in $columns)

#if($column.columnName != "id"
&& $column.columnName != "delete_flag"
&& $column.columnName != "create_time"
&& $column.columnName != "update_time"
)
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrNameLowerCase;
#end

#end

}
